
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.card{
  margin-top: 10px;
}

.card-header{
  background-color: #BFB9B8;
  padding-top: 10px;
}

.card-body{
  padding-top: 10px;
}
